@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var projectType = $.request("projectType");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/CertificateManage/Certificate/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/CertificateManage/Certificate/SubmitForm?keyValue=" + keyValue + "&projectType=" + projectType,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">序号</th>
                <td class="formValue">
                    <input id="SortCode" name="SortCode" type="text" class="form-control required" placeholder="请输入序号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="FullName" name="FullName" type="text" class="form-control required" placeholder="请输入姓名" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">性别</th>
                <td class="formValue">
                    <select id="Gender" name="Gender" class="form-control required">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">身份证号</th>
                <td class="formValue">
                    <input id="IdCard" name="IdCard" type="text" class="form-control required" placeholder="请输入身份证号" />
                </td>
            </tr>
            @*<tr>
                <th class="formTitle">证书类型</th>
                <td class="formValue">
                    <input id="ProjectName" name="ProjectName" type="text" class="form-control required"  placeholder="请输入证书类型" />
                </td>
            </tr>*@
            <tr>
                <th class="formTitle">证书编号</th>
                <td class="formValue">
                    <input id="Number" name="Number" type="text" class="form-control required" placeholder="请输入证书编号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">发证时间</th>
                <td class="formValue">
                    <input id="CertificationTime" name="CertificationTime" type="text" class="form-control required" placeholder="请输入发证时间"/>
                </td>
            </tr>
        </table>
    </div>
</form>
