<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="StormDbContext" connectionString="Server=.;Initial Catalog=Certificate;User ID=sa;Password=1234567890" providerName="System.Data.SqlClient" />-->
  <add name="StormDbContext" connectionString="Server=172.16.25.230;Initial Catalog=Certificate;User ID=sa;Password=1234567890" providerName="System.Data.SqlClient" />
</connectionStrings>