@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<div style="padding-top: 20px; margin-right: 20px;">
    <table class="form">
        <tr>
            <th class="formTitle">名称</th>
            <td class="formValue">
                <input id="txtName" name="Name" type="text" class="form-control required" placeholder="请输入名称" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">是否多文件</th>
            <td class="formValue">
                <select id="selIsMu" name="IsMu" class="form-control">
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">宽度</th>
            <td class="formValue">
                <input id="txtWidth" name="Width" type="number" class="form-control required" placeholder="请输入宽度" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">
                是否可空
            </th>
            <td class="formValue">
                <select id="selIsNull" class="form-control required">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var oNode = null, thePlugins = 'formfiles';
    var attJSON = parent.formattributeJSON;
    $(function () {
        if (UE.plugins[thePlugins].editdom) {
            oNode = UE.plugins[thePlugins].editdom;
        }
        if (oNode) {
            $text = $(oNode);
            var widthStr = $text.css('width');
            if (widthStr) {
                widthStr = widthStr.replace("px", "");
                $("#txtWidth").val(widthStr);
            } if ($text.attr('isnull')) {
                $("#selIsNull").val($text.attr('isnull'));
            }
            $("#txtName").val($text.attr('name'));
            if ($text.attr('isMu')) {
                $("#selIsMu").val($text.attr('isMu')).trigger("change");
            }
        }
    });

    dialog.oncancel = function () {
        if (UE.plugins[thePlugins].editdom) {
            delete UE.plugins[thePlugins].editdom;
        }
    };
    dialog.onok = function () {
        var timestamp = Date.parse(new Date());
        var id = "file_flow_" + timestamp;
        var name = $("#txtName").val();
        var width = $("#txtWidth").val();
        var isMu = $("#selIsMu").val();
        var isnull = $("#selIsNull").val();

        var otext = document.createElement('input');
        otext.id = id;
        $(otext).attr("type", "text");
        $(otext).attr("type1", "flow_files");
        $(otext).attr("class", "flowformcontrol");
        $(otext).attr("name", name);
        $(otext).attr("value", name);
        $(otext).attr("isnull", isnull);
        if (width) {
            $(otext).css("width", width + "px");
        } else {
            $(otext).css("width", "120px");
        }
        if (isMu) {
            $(otext).attr("isMu", isMu);
        }
        if (oNode) {
            $(oNode).after(otext.outerHTML);
            domUtils.remove(oNode, false);
        }
        else {
            editor.execCommand('insertHtml', otext.outerHTML);
        }
        delete UE.plugins[thePlugins].editdom;
    }
</script>