
<body>
    @{
        ViewBag.Title = "Form";
        Layout = "~/Views/Shared/_Form.cshtml";
    }
    <script src="~/Content/js/ueditor/ueditor.config.js?v=20180514_01"></script>
    <script src="~/Content/js/ueditor/ueditor.all.min.js?v=20180514_01"></script>
    <script src="~/Content/js/ueditor/lang/zh-cn/zh-cn.js?v=20180514_01"></script>
    <script src="~/Content/js/ueditor/plugins/plugins.js?v=20180514_01"></script>
    <style type="text/css">
        .toolbar a {
            text-decoration: none !important;
        }

            .toolbar a:hover {
                border: 1px solid #DCAC6C;
                background-color: #fff6d9;
            }

            .toolbar a span {
                padding: 0 8px;
                display: inline-block;
                cursor: default;
            }
    </style>
    <div class="toolbar" style="margin-top:0; border-top:none 0;">
        <a href="#" onclick="execCommend('formtext'); return false;" title="文本框">
            <span style="background:url(/Content/js/ueditor/plugins/images/input.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formtextarea'); return false;" title="文本域">
            <span style="background:url(/Content/js/ueditor/plugins/images/textarea.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formradio'); return false;" title="单选按钮组">
            <span style="background:url(/Content/js/ueditor/plugins/images/radio.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formcheckbox'); return false;" title="复选按钮组">
            <span style="background:url(/Content/js/ueditor/plugins/images/checkbox.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formhidden'); return false;" title="隐藏域">
            <span style="background:url(/Content/js/ueditor/plugins/images/hidden.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formlabel'); return false;" title="Label标签">
            <span style="background:url(/Content/js/ueditor/plugins/images/label.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formselect'); return false;" title="下拉列表框">
            <span style="background:url(/Content/js/ueditor/plugins/images/select.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formcombox'); return false;" title="下拉组合框">
            <span style="background:url(/Content/js/ueditor/plugins/images/combox.png) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formorg'); return false;" title="组织机构选择框">
            <span style="background:url(/Content/js/ueditor/plugins/images/org.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formdate'); return false;" title="日期选择">
            <span style="background:url(/Content/js/ueditor/plugins/images/datetime.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formdatetime'); return false;" title="日期时间选择">
            <span style="background:url(/Content/js/ueditor/plugins/images/datetime.gif) no-repeat center;">&nbsp;</span>
        </a>
        <a href="#" onclick="execCommend('formfiles'); return false;" title="附件上传">
            <span style="background:url(/Content/js/ueditor/plugins/images/attachment.gif) no-repeat center;">&nbsp;</span>
        </a>
    </div>
    <div id="editordiv" style="overflow:auto;">
        <script id="editor" name="editor" type="text/plain" style="width:98%; height:300px;">
        </script>
    </div>
    <script type="text/javascript">
        var keyValue = $.request("keyValue");
        var formattributeJSON = { hasEditor: "0" };
        var formsubtabs = [];
        var formEvents = [];
        var myUE = null;
        $(function () {
            resize();
            //判断ueditor 编辑器是否创建成功
            myUE.addListener("ready", function () {
                if (!!keyValue) {
                    $.ajax({
                        url: "/WFManage/CustomForm/GetFormJson",
                        data: { keyValue: keyValue },
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            myUE.setContent(data.Codes);
                        }
                    });
                }

            });
        });

        function resize() {
            $("#editor").height($(window).height() - 155);
            $("#editor").width($(window).width() - 20);
            myUE = UE.getEditor('editor', { wordCount: false, maximumWords: 1000000000, autoHeightEnabled: false });
           
        }
        function execCommend(method) {
            myUE.execCommand(method);
        }
        function submitForm() {
            var editContents = myUE.getContent();
            var custrols = getCustomControls(editContents);
            $.submitForm({
                url: "/WFManage/CustomForm/SaveDesign",
                param: { keyValue: keyValue, codes: htmlEncode(editContents), formControls: JSON.stringify(custrols) },
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }
        function getCustomControls(editContents) {
            var custrols = [];
            var element = $(editContents).get(0);
            var jqueryobj = $(element);
            var customcontrols = jqueryobj.find(".flowformcontrol");
            if (customcontrols != null && customcontrols != undefined && customcontrols.length > 0) {
                for (var i = 0; i < customcontrols.length; i++) {
                    var custrol = {};
                    var objt = customcontrols[i];
                    var controlType = $(objt).attr("type1");
                    switch (controlType) {
                        case "flow_text":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 1;
                            custrol.TypeName = "文本框";
                            custrol.DefaultType = $(objt).attr("valuetype");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_textarea":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 2;
                            custrol.TypeName = "文本域";
                            custrol.DefaultType = $(objt).attr("valuetype");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_radio":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 3;
                            custrol.TypeName = "单选按钮组";
                            custrol.DefaultType = $(objt).attr("dataid");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_checkbox":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 4;
                            custrol.TypeName = "复选按钮组";
                            custrol.DefaultType = $(objt).attr("dataid");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_hidden":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 5;
                            custrol.TypeName = "隐藏域";
                            custrol.DefaultType = $(objt).attr("valuetype");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_label":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 6;
                            custrol.TypeName = "Label标签";
                            custrol.DefaultType = $(objt).attr("valuetype");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_select":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 7;
                            custrol.TypeName = "下拉列表框";
                            custrol.DefaultType = $(objt).attr("dataid");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_combox":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 8;
                            custrol.TypeName = "下拉组合框";
                            custrol.DefaultType = $(objt).attr("dataid");
                            custrol.DefaultValue = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_org":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 9;
                            custrol.TypeName = "组织机构选择框";
                            custrol.DefaultType = $(objt).attr("defaultvalue");
                            custrol.DefaultValue = $(objt).attr("defaultvaluetext");
                            custrols.push(custrol);
                            break;
                        case "flow_date":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 10;
                            custrol.TypeName = "日期选择";
                            custrol.DefaultType = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_datetime":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 11;
                            custrol.TypeName = "日期时间选择";
                            custrol.DefaultType = $(objt).attr("defaultvalue");
                            custrols.push(custrol);
                            break;
                        case "flow_files":
                            custrol.ControlId = $(objt).attr("id");
                            custrol.FullName = $(objt).attr("name");
                            custrol.ControlType = 12;
                            custrol.TypeName = "附件上传";
                            custrol.DefaultType = $(objt).attr("ismu");
                            custrols.push(custrol);
                            break;
                    }
                }
            }
            return custrols;
        }

    </script>
</body>
