
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中国青少年发展服务中心</title>

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #header {
            margin-left: auto;
            margin-right: auto;
            width: 960px;
            height: 158px;
        }

        #main {
            margin-left: auto;
            margin-right: auto;
            width: 946px;
            height: 282px;
            background-image: url(/Content/images/bg01.png);
            margin-top: 50px;
            color: #333;
            font-size: 12px;
            padding-top: 100px;
        }

        input {
            width: 250px;
        }

        #footer {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 80px;
            text-align: center;
            font-size: 12px;
            border-top: solid 2px #efefef;
            margin-top: 20px;
            padding-top: 20px;
        }

        .footer {
            margin-top: 20px;
        }
    </style>
    <style type="text/css">
        :root #header + #content > #left > #rlblock_left,
        :root .container > .ads:first-child,
        :root .footer > #box[style="width:100%;height:100%;position:fixed;top:0"],
        :root .content > a > .topline,
        :root .content > .ads:first-child {
            display: none !important;
        }
    </style>
</head>
<body>
    <div id="header">
        <img src="/Content/images/banner.jpg" width="960" height="158">
    </div>
    <div id="main">
        <form name="form1" action="/Main/Search" method="post">

            <table width="100%" border="0" cellspacing="10" cellpadding="0">
                <tbody>
                    <tr>
                        <th colspan="2" scope="row">( 任意输入以下两项内容即可查询。)</th>
                    </tr>
                    <tr>
                        <th width="34%" align="right" scope="row">姓名:</th>
                        <td width="66%">
                            <input type="text" name="name" id="name">
                        </td>
                    </tr>
                    <tr>
                        <th align="right" scope="row">身份证号:</th>
                        <td> <input type="text" name="IdNumber" id="IdNumber"></td>
                    </tr>
                    <tr>
                        <th align="right" scope="row">证书编号:</th>
                        <td> <input type="text" name="CertificateNumber" id="CertificateNumber"></td>
                    </tr>
                    <tr>
                        <th colspan="2" scope="row">
                            <img src="/Content/images/button.png" width="95" height="26" onclick=" document.form1.submit();">
                        </th>
                    </tr>
                    <tr>
                        <th scope="row">&nbsp;</th>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>


    <div id="footer">
        版权所有:中国青少年发展服务中心
    </div>
</body>
</html>
