@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中国青少年发展服务中心</title>

    <style type="text/css">
        body {
            margin: 0px;
        }

        .dvCent {
            width: 100%;
        }

        .dvCentTopimg {
            width: 100%;
        }

            .dvCentTopimg img {
                width: 100%;
            }

        .dvCentbtnmain {
            width: 100%;
            text-align: center;
        }

        .dvCentbtn {
            width: 200px;
            height: 40px;
            margin-top: 40px;
            border: 0;
            background-color: red;
            color: white;
            cursor: pointer;
        }

        .dvCentcopy {
            width: 100%;
            text-align: center;
            font-family: 'Microsoft YaHei';
            font-size: 12px;
            position: fixed;
            bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="dvCent">
        <div class="dvCentTopimg">
            <img src="~/Content/images/top2.png" />
        </div>
        <div style="width:100%;text-align:center;">
            <h5 style="color:red;">未查询到相关证件信息，请确认查询号！</h5>
        </div>
        <div class="dvCentbtnmain">
            <span>
                <input class="dvCentbtn" type="button" value="返回首页" onclick="goIndex()" />
            </span>
        </div>
        <div class="dvCentcopy">
            版权所有：中国少年儿童发展服务中心、中国青少年宫协会
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    function goIndex() {
        document.location.href = "/main/Index";
    }
</script>