@{
    ViewBag.Title = "流程设计";
    Layout = "~/Views/Shared/_GooFlow.cshtml";
}
<style type="text/css">
    .myForm {
        overflow-y: auto;
    }

    .dvNodes {
        width: 100%;
    }

    .dvLines {
        width: 100%;
    }

    .btnflow {
        width: 100%;
        height: 30px;
        background-color: #eee !important;
        color: black !important;
        font-size: 14px !important;
        border: none !important;
        border-bottom: 1px solid #808080 !important;
    }

    .dvflowcontent {
        width: 100%;
    }

        .dvflowcontent table {
            width: 100%;
        }

            .dvflowcontent table tr td {
                border: 1px solid #ccc;
            }

                .dvflowcontent table tr td input {
                    width: 100%;
                }

                .dvflowcontent table tr td select {
                    width: 100%;
                }

    .th {
        white-space: nowrap;
        text-align: right;
        width: 40%;
    }
</style>
<script type="text/javascript">

    var keyValue = $.request("keyValue");
    var property = {
        width: 1200,
        height: 600,
        toolBtns: ["start round", "end round", "task"],
        haveHead: true,
        headBtns: ["undo", "redo", "reload"],//如果haveHead=true，则定义HEAD区的按钮
        haveTool: true,
        haveGroup: true,
        useOperStack: true,
        headLabel: "流程绘制"
    };
    var remark = {
        cursor: "选择指针",
        direct: "结点连线",
        start: "入口结点",
        end: "结束结点",
        task: "任务结点",
        group: "组织划分框"
    };
    var myflowdesign;
    $(document).ready(function () {
        var heights = $(window).height();
        var widths = $(window).width();
        $("#propertyForm").height(heights);
        property.width = widths - 310;
        property.height = heights;
        myflowdesign = $.createGooFlow($("#myFlow"), property);
        myflowdesign.setTitle("流程绘制");
        myflowdesign.setNodeRemarks(remark);
        myflowdesign.onItemFocus = function (id, model) {
            return itemFocus(this, id, model);
        };
        myflowdesign.onItemAdd = function (id, type, json) {
            return itemAdd(id, type, json);
        }
        $(".comflowtxt").change(function () {
            var focNode = myflowdesign.$focus;
            var focmodel = myflowdesign.$nodeData[focNode];
            if (focmodel != null && focmodel != undefined) {
                switch (this.name) {
                    case "selStepType":
                        focmodel.steptype = this.value;
                        break;
                    case "selRejectType":
                        focmodel.rejecttype = this.value;
                        break;
                    case "selReviewerType":
                        focmodel.reviewertype = this.value;
                        break;
                    case "selMessageType":
                        focmodel.messagetype = this.value;
                        break;
                }
            }

            var focLine = myflowdesign.$focus;
            var foclinemodel = myflowdesign.$lineData[focLine];
            if (foclinemodel != null && foclinemodel != undefined) {
                switch (this.name) {
                    case "selStrategiesType":
                        foclinemodel.strategiestype = this.value;
                        break;
                }
            }
        });
        initControl();
    });
    function submitForm() {
        var codes = JSON.stringify(myflowdesign.exportData());
        $.submitForm({
            url: "/WFManage/Flow/SaveDesign",
            param: { keyValue: keyValue, codes: codes },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function initpro(type) {
        if (type == "line") {
            $(".dvLines").css("display", "");//隐藏div
            $(".dvNodes").attr("style", "display:none;");//隐藏div
        } else if (type == "node") {
            $(".dvLines").css("display", "none");//隐藏div
            $(".dvNodes").attr("style", "display:;");//隐藏div
        }
    }
    function itemFocus(e, id, model) {
        initTxtControl();
        var obj;
        initpro(model);
        if (model == "line") {
            obj = e.$lineData[id];
            $("#hdLineMarkName").val(id);
            $("#txtLineName").val(obj.name);
            var objfrom = e.$nodeData[obj.from];
            if (objfrom != null && objfrom != undefined) {
                $("#txtLineFrom").val(objfrom.name);
            }
            var objto = e.$nodeData[obj.to];
            if (objto != null && objto != undefined) {
                $("#txtLineTo").val(objto.name);
            }
            if (obj.strategiestype != null && obj.strategiestype != undefined)
                $("#selStrategiesType").val(obj.strategiestype).trigger("change").change();
        } else if (model == "node") {
            obj = e.$nodeData[id];
            $("#hdNodeMarkName").val(id);
            $("#txtNodeName").val(obj.name);
            $("#txtNodeLeft").val(obj.left);
            $("#txtNodeTop").val(obj.top);
            $("#txtNodeWidth").val(obj.width);
            $("#txtNodeHeight").val(obj.height);
            if (obj.steptype != null && obj.steptype != undefined)
                $("#selStepType").val(obj.steptype).trigger("change").change();
            if (obj.rejecttype != null && obj.rejecttype != undefined)
                $("#selRejectType").val(obj.rejecttype).trigger("change").change();
            if (obj.reviewertype != null && obj.reviewertype != undefined)
                $("#selReviewerType").val(obj.reviewertype).trigger("change").change();
            if (obj.messagetype != null && obj.messagetype != undefined)
                $("#selMessageType").val(obj.messagetype).trigger("change").change();

        }
        return true;
    }
    function itemAdd(id, type, json) {
        json.isstart = false;
        json.isend = false;
        if (json.type == "start round") {
            json.name = "开始";
            json.isstart = true;
        }
        if (json.type == "end round") {
            json.name = "结束";
            json.isend = true;
        }
        if (!IsHasType(json.type)) {
            return true;
        } else {
            alert("只能有一个此类型节点！");
            return false;
        }
    }
    function initControl() {
        if (!!keyValue) {
            $.ajax({
                url: "/WFManage/Flow/GetDesignJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.Codes != null && data.Codes != undefined && data.Codes != "") {
                        var codes = JSON.parse(data.Codes);
                        myflowdesign.loadData(codes);
                    }
                }
            });
        }
        $("#selStepType").bindSelect({
            url: "/WFManage/Flow/GetStepTypeSelectJson",
            id: "Value",
            text: "Desc"
        });
        $("#selRejectType").bindSelect({
            url: "/WFManage/Flow/GetRejectTypeSelectJson",
            id: "Value",
            text: "Desc"
        });
        $("#selReviewerType").bindSelect({
            url: "/WFManage/Flow/GetReviewerTypeSelectJson",
            id: "Value",
            text: "Desc"
        });
        $("#selMessageType").bindSelect({
            url: "/WFManage/Flow/GetMessageTypeSelectJson",
            id: "Value",
            text: "Desc"
        });
        $("#selStrategiesType").bindSelect({
            url: "/WFManage/Flow/GetStrategiesTypeSelectJson",
            id: "Value",
            text: "Desc"
        });
    }
    function IsHasType(type) {
        var isHas = false;
        var types = ["start round", "end round"];
        if ($.inArray(type, types) >= 0) {
            var datas = myflowdesign.exportData();
            for (var item in datas.nodes) {
                if (datas.nodes[item].type == type) {
                    isHas = true;
                }
            }
        }
        return isHas;
    }
    function initTxtControl() {
        $("#hdLineMarkName").val("");
        $("#hdNodeMarkName").val("");
        $("#txtLineName").val('');
        $("#txtLineFrom").val('');
        $("#txtLineTo").val('');
        $("#txtNodeName").val('');
        $("#txtNodeLeft").val('');
        $("#txtNodeTop").val('');
        $("#txtNodeWidth").val('');
        $("#txtNodeHeight").val('');
        $("#selStepType").val(0).trigger("change");
        $("#selRejectType").val(0).trigger("change");
        $("#selReviewerType").val(0).trigger("change");
        $("#selMessageType").val(0).trigger("change");
        $("#selStrategiesType").val(0).trigger("change");
    }
    function lineConfig() {
        var selStrategiesType = $("#selStrategiesType").val();
        var markName = $("#hdLineMarkName").val();
        if (selStrategiesType == "0") {
            alert("请选择一条策略类型！");
            return;
        }
        if (selStrategiesType == "1") {
            $.modalOpen({
                id: "FormStrategies",
                title: "配置表单策略",
                url: "/WFManage/Flow/FormStrategies?keyValue=" + keyValue + "&markName=" + markName,
                width: "550px",
                height: "300px",
                callBack: function (iframeId) {
                    var plots = top.frames[iframeId].submitForm();
                    var selLine = myflowdesign.$lineData[markName];
                    if (selLine != null) {
                        selLine.plot = plots;
                    }
                }
            });
        } else
            if (selStrategiesType == "2") {
                $.modalOpen({
                    id: "SqlStrategies",
                    title: "配置SQL策略",
                    url: "/WFManage/Flow/SqlStrategies?keyValue=" + keyValue + "&markName=" + markName,
                    width: "550px",
                    height: "300px",
                    callBack: function (iframeId) {
                        var plots = top.frames[iframeId].submitForm();
                        if (plots != false) {
                            var selLine = myflowdesign.$lineData[markName];
                            if (selLine != null) {
                                selLine.sqlplot = plots;
                            }
                        }
                    }
                });
            }
    }
    function reviewerConfig() {
        var reviewerType = $("#selReviewerType").val();
        var markName = $("#hdNodeMarkName").val();
        if (reviewerType == 1) {
            $.modalOpen({
                id: "ReviewerOrg",
                title: "配置岗位",
                url: "/WFManage/Flow/ReviewerOrg?keyValue=" + keyValue + "&markName=" + markName,
                width: "600px",
                height: "500px",
                callBack: function (iframeId) {
                    var reviewerorgs = top.frames[iframeId].submitForm();
                    var selnode = myflowdesign.$nodeData[markName];
                    if (selnode != null) {
                        selnode.reviewerorgs = reviewerorgs.toString();
                    }
                }
            });
        } else if (reviewerType == 2) {
            $.modalOpen({
                id: "ReviewerPeople",
                title: "配置指定人",
                url: "/WFManage/Flow/ReviewerPeople?keyValue=" + keyValue + "&markName=" + markName,
                width: "600px",
                height: "500px",
                callBack: function (iframeId) {
                    var reviewerusers = top.frames[iframeId].submitForm();
                    var selnode = myflowdesign.$nodeData[markName];
                    if (selnode != null) {
                        selnode.reviewerusers = reviewerusers.toString();
                    }
                }
            });
        }
    }

</script>
<form class="myForm" id="propertyForm">
    <div class="dvNodes" style="display:none;">
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvattr">
            节点属性
        </button>
        <div id="dvattr" class="collapse in dvflowcontent">
            <input type="hidden" id="hdNodeMarkName" />
            <table>
                <tr><td class="th">名称：</td><td><input type="text" id="txtNodeName" readonly="readonly" /></td></tr>
                <tr><td class="th">左坐标：</td><td><input type="text" id="txtNodeLeft" readonly="readonly" /></td></tr>
                <tr><td class="th">上坐标：</td><td><input type="text" id="txtNodeTop" readonly="readonly" /></td></tr>
                <tr><td class="th">宽：</td><td><input type="text" id="txtNodeWidth" readonly="readonly" /></td></tr>
                <tr><td class="th">高：</td><td><input type="text" id="txtNodeHeight" readonly="readonly" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvstep">
            步骤设置
        </button>
        <div id="dvstep" class="collapse in dvflowcontent">
            <table>
                <tr>
                    <td class="th">步骤类型：</td>
                    <td>
                        <select id="selStepType" name="selStepType" class="form-control comflowtxt">
                            <option value="0">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="th">驳回方式：</td>
                    <td>
                        <select id="selRejectType" name="selRejectType" class="form-control comflowtxt">
                            <option value="0">==请选择==</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvpeople">
            审核人设置
        </button>
        <div id="dvpeople" class="collapse in dvflowcontent">
            <table>
                <tr>
                    <td class="th">审核人类型：</td>
                    <td>
                        <select id="selReviewerType" name="selReviewerType" class="form-control comflowtxt">
                            <option value="0">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="th">审核人：</td>
                    <td>
                        <div class="input-group">
                            <input type="text" placeholder="请选择配置..." aria-describedby="spnodereviewer" readonly="readonly" />
                            <span class="input-group-addon" id="spnodereviewer" style="cursor:pointer;" onclick="reviewerConfig()">配置</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#dvmsg">
            消息提醒
        </button>
        <div id="dvmsg" class="collapse in dvflowcontent">
            <table>
                <tr>
                    <td class="th">提醒方式：</td>
                    <td>
                        <select id="selMessageType" name="selMessageType" class="form-control comflowtxt">
                            <option value="0">==请选择==</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="dvLines" style="display:none;">
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#lineattr">
            连接属性
        </button>
        <div id="lineattr" class="collapse in dvflowcontent">
            <input type="hidden" id="hdLineMarkName" />
            <table>
                <tr><td class="th">名称：</td><td><input type="text" id="txtLineName" readonly="readonly" /></td></tr>
                <tr><td class="th">来源：</td><td><input type="text" id="txtLineFrom" readonly="readonly" /></td></tr>
                <tr><td class="th">指向：</td><td><input type="text" id="txtLineTo" readonly="readonly" /></td></tr>
            </table>
        </div>
        <button type="button" class="btn btn-primary btnflow" data-toggle="collapse"
                data-target="#lineplot">
            策略
        </button>
        <div id="lineplot" class="collapse in dvflowcontent">
            <table>
                <tr>
                    <td class="th">类型：</td>
                    <td>
                        <select id="selStrategiesType" name="selStrategiesType" class="form-control comflowtxt">
                            <option value="0">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="th">配置：</td>
                    <td>
                        <div class="input-group">
                            <input type="text" placeholder="请选择配置..." aria-describedby="splineconfig" readonly="readonly" />
                            <span class="input-group-addon" id="splineconfig" style="cursor:pointer;" onclick="lineConfig()">配置</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<div id="myFlow"></div>