@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var markName = $.request("markName");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/WFManage/Flow/GetStrategieFormJson",
                data: { flowId: keyValue, markName: markName },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        } else {
            var plots = $("#SqlPlot").val();
            $.modalClose();
            return plots;
        }
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">Sql</th>
                <td class="formValue">
                    <textarea id="SqlPlot" name="SqlPlot" class="form-control required" style="height:130px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">
                    例：
                </th>
                <td class="formValue">
                    select
                    case when 1+1 >1
                    then 'true'
                    else 'false'
                    end result 
                </td>
            </tr>
        </table>
    </div>
</form>
